
<h3>Create an Event:</h3>
<br>
<form action="/facility" method="POST">
  <label for="facility_name">Event Name</label>
  <input id="facility_name" name="name" value="{{event.name}}">
  <label for="address">Address:</label>
  <input id="address" name="address" value="{{event.address}}">

<br>
<br>
  <label for="details">Event details:</label>
  <textarea id="details" name="details" class="materialize-textarea"></textarea>
  <label for="start_time">Event Date:</label>
  <input type="date" class="datepicker" name="date">
  <label for="start_time">Start Time:</label>
  <input class="timepicker" type="time" name="text">
  <label for="start_time">End Time:</label>
  <input class="timepicker" type="time" name="text">
  <label for="event_description">Event Description:</label>
  <textarea id="event_description" name="details" class="materialize-textarea"></textarea>
  <button type="submit" class="waves-effect waves-light btn">Submit</button>
</form>
