<h1>{{title}}</h1>
<p>Welcome to only show in town dawgs</p>
<a href="/volsignup">Volunteer Signup</a>
<a href="/coorsignup">Coordinator Signup</a>

<h5>{{error}}</h5>

<h4>Login</h4>
<form action="/login" method="POST">
  <label for="email">Email</label>
  <input type="email" id="email" name="email">
  <label for="password">Password</label>
  <input type="password" id="password" name="password">
  <button class="waves-effect waves-light btn" type="submit">Submit</button>
</form>
