<a href="">Login with Google</a>
<form action="/volsignup" method="POST">
  <input type="hidden" name="type" value="volunteer">
  <label for="email">Email</label>
  <input id="email" name="email">
  <label for="password">Password</label>
  <input id="password" name="password">
  <button type="submit">Submit</button>
</form>
